<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Movies</title>
</head>
<body>
<table>
<tr>
    <td><h1>List of Movies</h1></td>
        <td><a style="margin: 50px" class="btn btn-danger" href="/logout">Logout</a></td>
        <td>
            <div style="margin: 50px" th:obeject="${user}">
                Logged in as: <span th:text="${user.email}"></span>  
                <!-- <span th:text="${user.birthDate}"></span> -->
            </div>
        </td>
    </tr>
</table>
   
<table class="table table-striped">
    <tr>
        <th>Movie Id</th>
        <th>Moview Title</th>
        <th>Movie Year</th>
        <th>Rated</th>
        <th>Released on</th>
        <th>Runtime</th>
        <th>Genre</th>
        <th>Director</th>
        <th>Rating</th>
        <th>Action</th>
    </tr>
    <tr th:each="movie: ${movieList}">
        <td th:text="${movie.id}"></td>
        <td th:text="${movie.title}"></td>
        <td th:text="${movie.year}"></td>
        <td th:text="${movie.rated}"></td>
        <td th:text="${#dates.format(movie.releaseDateF, 'dd-MMM-yyyy')}"></td>
        <td th:text="${movie.runTime}"></td>
        <td th:text="${movie.genre}"></td>
        <td th:text="${movie.director}"></td>
        <td th:text="${movie.rating}"></td>
        <td><a class="btn btn-warning" th:href="@{/list/book/{id}(id=${movie.id})}">Book</a></td>
    </tr>
</table>
   

</body>
</html>